.title__container  {
  h1 {
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    color: #061A29;
  }
}
.title__tabs-container {
  display: flex;
  flex-direction: column;
  @media (min-width: $screen-md) {
    flex-direction: row;
    justify-content: space-between;  
  }
}
.breadcrumbs__container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 29px;
  a {
    font-weight: 400;
    font-size: 12px;
    text-decoration: none;
  }
}
.breadcrumbs__home {
  color: #8C94A8;
  padding-right: 13px;
  position: relative;
  margin: 0;
  margin-right: 13px;
  &::before {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 5px;
    height: 5px;
    transform: translateY(-50%);
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.00247 3.4947L0.00232 5.99142V0.997985L5.00247 3.4947Z' fill='%23BBC2D1'/%3E%3C/svg%3E%0A");
  }
}
.breadcrumbs__page {
  margin: 0;
  color: #C6CDD9;
}
.title__tabs {
  overflow: hidden;
  ul {
    @include ul-none();
  }
}
.tab__item {
  cursor: pointer;
  padding: 0 24px;
  min-height: 47px;
  border-radius: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 44px;  
  color: #061A29;
  width: fit-content;
}
.title__tab_active {
  background: #F4F6FB;
  color: #0063FA;
}
.title__select {
  margin: 0 auto;
  margin-top: 20px;
  @media (min-width: $screen-md) {
    margin: 0;
    margin-top: 0;
  }
  
}