mixin page-business()
    +banner-slider(data.businessslider).business-slider-js.slider_bg-purple
    +popular-tarif(data.business, ['Интернет', 'Телефония'], 'business', 'Популярные тарифы', 'business__tabs-js', 'tarif')
    .container
        +banner(data.mainbanner, true).banner_mt6.banner__mb8
    +news(data.mainnews).business__news-container
    section.business 
        .container