.error__content {
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
  padding-top: 77px;
  padding-bottom: 92px;
}
.error__img {
  object-fit: contain;
  width: 100%;
  height: auto;
  margin-bottom: 6px;
}
.error__title {
  text-align: center;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #061A29;
  margin-bottom: 25px;
}

.error__desc {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #1D1D1B;
  margin-bottom: 34px;
}

.error__btn {
  text-decoration: none;
  background: #0063FA;
  max-width: 258px;
  width: 100%;
  min-height: 48px;
  border-radius: 5px;
  transition: $time;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: #FFFFFF;
  &:hover {
    background: #c1daff;
    color: #0063FA;
  }
}