mixin page-error()
  .error 
    .container 
      .error__content
        img(src='/img/content/404.png').error__img
        h1.error__title Страница не найдена
        p.error__desc Возможно, она устарела, была перемещена или был введен неверный адрес в адресной строке, попробуйте вернуться на главную
        a(href="index.html").error__btn Вернуться на главную