.support {
  padding-top: 49px;
  padding-bottom: 35px;
}
.support__container  {
  display: flex;
  flex-direction: column;
  @media (min-width: $screen-xl) {
    flex-direction: row;
  }
  // grid-template-rows: 1fr 1fr;
}
.support__banner {
  margin-left: 0;
  @media (min-width: $screen-xl) {
    
  }
}
.support__banner-container {
  order: 1;
  @media (min-width: $screen-xl) {
    order: 2;
  }
}
.support__form-container {
  max-width: 644px;
  background: var(--background-white);
  box-shadow: 0px 10px 34px rgba(177, 197, 209, 0.47);
  padding: 39px 24px;
  margin-bottom: 50px;
  order: 2;
  @media (min-width: $screen-xl) {
    order: 1;
  }
}

.support__form-title {
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  color: var(--text);
  margin-bottom: 38px;
}

.support__form-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--text);
  margin-bottom: 51px;
  a {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--text);
    transition: var(--time);
    &:hover {
      opacity: var(--opacity);
    }
  }
}

.form__placeholder-container textarea {
  box-sizing: border-box;
  outline: none;
  width: 100%;
  min-height: 150px;
  border: none;
  padding: 20px 30px;
  // border: 1px solid black;
  box-sizing: border-box;
  border-radius: var(--radius);
  background: var(--background-gray2);
}

.form__placeholder-container textarea:focus + label, .form__placeholder-container textarea:not(:placeholder-shown) + label {
  top: -13px;
  left: 0;
  background: var(--background-gray2);
  border-radius: var(--radius);
  -ms-transform: translateX(0);
      transform: translateX(0);
  padding: 2px 10px;
}

.support__placeholder-container {
  transition: var(--time);
}
.input__error {
  font-weight: 400;
  font-size: 12px;
  color: var(--text-error);
  position: absolute;
  display: none;
  left: 13px;
  bottom: -22px;
}
.form__placeholder-container_active {
  position: relative;
  margin-bottom: 44px;
  background: var(--input-bg);
}

.form__placeholder-container_active .input__error {
  display: block;
}
.form__placeholder-container_active input, textarea {
  background: var(--input-bg);
}
.form__placeholder-container_active textarea {
  background: var(--input-bg);
}

.form__placeholder-container_active.form__placeholder-container label {
  font-weight: 400;
  font-size: 16px;
  color: var(--placeholder);
  top: 50%;
  transform: translateY(-50%);
}

.support__agreement {
  margin-top: 30px;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: var(--agreement);
}

.form__checkbox-container {
  max-width: 302px;
  min-height: 76px;
  margin-bottom: 28px;
  img {
    object-fit: contain;
    width: 100%;
    height: auto;
  }
}