mixin page-support()
  section.support 
    .container
      +header-title(data.internetPageTitle)
      .support__container 
        .support__form-container
          p.support__form-title Оставить запрос в техническую поддержку
          p.support__form-desc Телефон технической поддержки  <a href="tel:+74954016161">+7 495 401-61-61</a> доб.2. Круглосуточно. Вы можете заполнить форму и мы свяжемся с Вами.
          form(action="#" method="post").support__form.support__form-js
            .form__placeholder-container.support__placeholder-container
              input(type="email" placeholder=" " required)
              label Как вас зовут?*
              span.input__error Это обязательно поле
            .form__placeholder-container.support__placeholder-container
              input(type="tel" placeholder=" " required id='phone')
              label Ваш телефон*
              span.input__error Это обязательно поле
            .form__placeholder-container.support__placeholder-container.form__placeholder-container_active
              input(type="number" placeholder=" " required)
              label Номер лицевого счета*
              span.input__error Это обязательно поле
            .form__placeholder-container.support__placeholder-container.form__placeholder-container_active
              textarea(type="text" placeholder=" " required)
              label Опишите вашу проблему*
              span.input__error Это обязательно поле
            .form__checkbox-container
              img(src='/img/content/recaptcha.png')
            +btn('Отправить заявку', 'support', 'submit').form_btn.form_btn-js
          p.support__agreement Отправляя заявку на подключение услуг, я соглашаюсь на обработку своих персональных данных, указанных в заявке с целью информирования по услугам ООО "ГранЛайн" и заключения договора.
        .support__banner-container
          +banner(data.faqBanner).support__banner
