mixin page-news()
	section.news 
		.container 
			+header-title(data.newsPageTitle)
	.news__content
		.container 
			ul.news__list 
				li.news__item
					a(href="#")
						.news__item-title Расширение магистральных каналов связи
						.news__item-date 1  марта 2022 г.
						svg(class=`news__icon`)
							use(xlink:href="img/symbols.svg#icon1")
				li.news__item
					a(href="#")
						.news__item-title Расширение магистральных каналов связи
						.news__item-date 1  марта 2022 г.
						svg(class=`news__icon`)
							use(xlink:href="img/symbols.svg#icon1")
				li.news__item
					a(href="#")
						.news__item-title Расширение магистральных каналов связи
						.news__item-date 1  марта 2022 г.
						svg(class=`news__icon`)
							use(xlink:href="img/symbols.svg#icon1")
				li.news__item
					a(href="#")
						.news__item-title Расширение магистральных каналов связи
						.news__item-date 1  марта 2022 г.
						svg(class=`news__icon`)
							use(xlink:href="img/symbols.svg#icon1")
				li.news__item
					a(href="#")
						.news__item-title Расширение магистральных каналов связи
						.news__item-date 1  марта 2022 г.
						svg(class=`news__icon`)
							use(xlink:href="img/symbols.svg#icon1")
				li.news__item
					a(href="#")
						.news__item-title Расширение магистральных каналов связи
						.news__item-date 1  марта 2022 г.
						svg(class=`news__icon`)
							use(xlink:href="img/symbols.svg#icon1")          
			+btn('Показать еще', 'more').news__more-btn