.detail-news {
  padding-top: 48px;
  padding-bottom: 89px;
}
.detail-news__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "news news"
  "sidebar sidebar";

  grid-gap: 32px;
	@media (min-width: $screen-lg) {
		grid-template-columns: 1fr 420px;
		grid-template-areas: 
		"news lastnews"
		"news sidebar";
	}
}

.detail-news__content {
  grid-area: news;
  width: 100%;
}

.detail-news__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  color: var(--text);
  margin-bottom: 0;
}

.detail-news__date {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #8C94A8;
  margin-bottom: 28px;
}

.detail-news__img {
  width: 100%;
  object-fit: contain;
  height: auto;
  margin-bottom: 20px;
}
.detail-news__text {
  font-weight: 400;
  line-height: 24px;
  color: #4A5660;
  margin-bottom: 38px;
  &:last-child {
    margin-bottom: 0;
  }
  span {
    font-weight: 500;
  }
}
.detail-news__list {
  grid-area: lastnews;
  @include ul-none();
  background: #F4F6FB;
  padding: 21px 25px;
  margin-bottom: 32px;
	border-radius: var(--radius);
	order: 2;
	@media (min-width: $screen-lg) {
		order: 1;
	}
}
.detail-news__sidebar {
	grid-area: sidebar;
	display: flex;
	flex-direction: column;
	@media (min-width: $screen-md) {
		flex-direction: row;
	}
	@media (min-width: $screen-lg) {
		flex-direction: column;
	}
}
.detail-news__sidebar-title {
  opacity: 1;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  color: var(--text);
  margin-bottom: 28.5px;
	padding-bottom: 15px;
	border-bottom: 2px solid #FFFFFF;
}
.detail-news__news {
  margin-bottom: 30px;
	&:last-child {
		margin-bottom: 0;
	}
}

.detail-news__news-title {
  font-weight: 500;
  font-size: 15px;
  color: #4A5660;
  margin-bottom: 10px;
}

.detail-news__news-date {
  font-weight: 400;
  font-size: 13px;
  color: #8C94A8;
  margin: 0;
}

.detail-news__sidebar-banner {
	grid-area: banner;
	background-image: url('/img/content/back-banner.png');
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: var(--radius);
	padding: 32px 30px;
	position: relative;
	overflow: hidden;
	min-height: 400px;
	display: flex;
	flex-direction: column;
	order: 1;
	
	justify-content: flex-start;

	@media (min-width: $screen-sm) {
		justify-content: flex-end;
		min-height: 277px;	
	}
	@media (min-width: $screen-lg) {
		order: 2;
	}
}
.detail-news__banner-title {
	font-weight: 500;
	font-size: 22px;
	line-height: 27px;
	color: var(--text-white);
	margin: 0;
	margin-bottom: 20px;

	max-width: 212px;
	@media (min-width: $screen-sm) {
		
		margin-bottom: auto;
	}
	
}
.detail-news__sidebar-banner-img {
	position: absolute;
	right: 0;
	bottom: 0;
	max-width: 200px;
	object-fit: contain;
	@media (min-width: $screen-sm) {
		// height: 100%;
		width: fit-content;
	}
}
.detail-news__banner-btn {
	z-index: 2;
	max-width: 136px;
	width: 100%;	
	min-height: 40px;
	margin-bottom: 18px;
	transition: var(--time);
	&:hover {
		opacity: var(--opacity);
	}
	&:last-child {
		margin-bottom: 50px;
		@media (min-width:$screen-sm) {
			margin-bottom: 0;	
		}
	}
}

.detail-news__news-link {
	text-decoration: none;
	transition: var(--time);
	&:hover {
		opacity: var(--opacity);
	}
}