-
	const data = {
		internet: [
				{ title: 'Премиум', desc: '<span>180</span> каналов', pack: 'В пакет входит подписка на сервисы Netflx, Megogo и Wink', price: '950 <span>₽/мес</span>', button: 'Подключить', type:'tv', id: "connection" },
				{ title: 'Базовый PRO 100', desc: '<span>до 100</span> Мбит/с',	price: '520 <span>₽/мес</span>', button: 'Подключить', hit: true, type: 'internet', id: "connection" },
				{ title: 'Безлимитный', desc: '<span>300</span> минут',	price: '650 <span>₽/мес</span>', button: 'Подключить', type: 'phone', pack: `Стоимость превышения: <span>0 ₽ / мин.</span>`, id: "connection" },
				{ title: 'Просто видео', desc: '<span>2</span> видеокамеры и <span>1</span>&nbsp;видеорегистратор',	price: '19 000 <span>₽</span>', button: 'Подключить', type: 'video', pack: `Камера EZ-IPC-B3B20P-0280B Видеорегистратор EZ-NVR1B04`, id: "connection" }
		],
		business: [
				{ title: 'Бизнес 5', desc: '<span>до 5</span> Мбит/с', price: '950 <span>₽/мес</span>', button: 'Подключить', price: "1500 <span>₽/мес</span>", button: 'Подключить', type:'internet', id: "connection" },
				{ title: 'Бизнес 10', desc: '<span>до 10</span> Мбит/с', price: '520 <span>₽/мес</span>', button: 'Подключить', price: "2800 <span>₽/мес</span>", hit: true, button: 'Подключить', type: 'internet', id: "connection" },
				{ title: 'Бизнес 20', desc: '<span>до 20</span> Мбит/с', pack: "Предоставляются при наличии технической возможности",	price: '4800 <span>₽/мес</span>', button: 'Подключить', type: 'internet', id: "connection" },
				{ title: 'Бизнес 50', desc: '<span>до 50</span> Мбит/с', pack: "Предоставляются при наличии технической возможности",	price: '7200 <span>₽/мес</span>', button: 'Подключить', type: 'internet', id: "connection" }
		],
		telephony: [
				{ title: 'Безлимитный', desc: '<span>∞</span> минут', pack: 'Стоимость превышения: 0 ₽ / мин.', price: '950 <span>₽/мес</span>', button: 'Подключить', type:'phone', id: "connection" },
				{ title: 'Комбинированный', desc: '<span>300</span> минут',	pack: 'Стоимость превышения:0,70 ₽ / мин.', price: '520 <span>₽/мес</span>', button: 'Подключить', hit: true, type: 'phone', id: "connection" },
				{ title: 'Повременный', desc: '<span>0</span> минут',	price: '650 <span>₽/мес</span>', button: 'Подключить', type: 'phone', pack: `Стоимость превышения:0,70 ₽ / мин.`, id: "connection" },
		],
		videobanner: [
				{ title: 'Видеонаблюдение', desc: 'Организация системы видеонаблюдения для различных объектов. Для магазинов, кафе, ресторанов, подъездов и паркингов. Облачное и локальное хранение записей с удаленным доступом.', button: 'Оставить заявку', href: '#', img: 'img/content/cctv.png', slider: 'false' },
		],
		mainslider: [
				{ title: 'Домашний интернет на высокой скорости', desc: 'Скорость до 500 Мбит/с', button: 'Подробнее', href: '#', img: 'img/content/home_internet.png' },
				{ title: 'Управляйте услугами с помощью мобильного телефона', desc: 'Установите приложение «ГранЛайн личный кабинет»', button: 'Подробнее', href: '#', img: 'img/content/phone_app 2.png' },
				{ title: 'Домашний интернет на высокой скорости', desc: 'Скорость до 500 Мбит/с', button: 'Подробнее', href: '#', img: 'img/content/home_internet.png' },
				{ title: 'Управляйте услугами с помощью мобильного телефона', desc: 'Установите приложение «ГранЛайн личный кабинет»', button: 'Подробнее', href: '#', img: 'img/content/phone_app 2.png' },
		],
		magazinelider: [
				{ title: 'Узнайте как дела дома с экрана смартфона', desc: 'Беспроводные облачные Full-HD камеры', button: 'Перейти в каталог', href: '#', img: 'img/content/internet2.png' },
				{ title: 'Управляйте услугами с помощью мобильного телефона', desc: 'Установите приложение «ГранЛайн личный кабинет»', button: 'Подробнее', href: '#', img: 'img/content/phone_app 2.png' },
		],
		businessslider: [
				{ title: 'Пакетные предложениядля вашего бизнеса', desc: 'Скорость до 1000 Мбит/с', button: 'Подробнее', href: '#', img: 'img/content/mbps.png' },
				{ title: 'Управляйте услугами с помощью мобильного телефона', desc: 'Установите приложение «ГранЛайн личный кабинет»', button: 'Подробнее', href: '#', img: 'img/content/phone_app 2.png' },
		],
		mainbanner: {
			titul: '«Гранлайн» всегда под рукой', 
			desc: 'Управляйте услугами на экране смартфона через мобильное приложение «ГранЛайн личный кабинет» и получайте выгодные предложения!',
			app: true,
			img: 'img/content/app-banner.png',
		},
		internetBanner: {
			titul: 'Оборудование для квартиры', 
			desc: 'Расширенная гарантия 2 годаБесплатная доставка и настройка для новых абонентов',
			app: false,
			img: 'img/content/devices.png',
			href: '#',
			btnText: 'Перейти в магазин',
			classHref: 'banner__right-side_size'
		},
		faqBanner: {
			titul: 'Проверьте в разделе FAQ', 
			desc: 'Возможно Ваша проблема уже обсуждалась и мы подготовили подробный ответ',
			app: false,
			img: 'img/content/womanfaq.png',
			href: '#',
			btnText: 'Перейти в раздел',
		},
		magazine: {
			titul: 'Защитите свой домот протечек со скидкой 15%', 
			desc: 'По промокоду GRANLINE - на сайте neptunsale.ru',
			app: false,
			img: 'img/content/neptun.png',
			href: 'neptunsale.ru',
			btnText: 'Перейти на сайт',
		},
		equipmentSlider: [
			{ title: 'D-Link DIR-806', pack: 'Начальный уровень', price: '2850 <span>₽</span>', button: 'Заказать', type: 'Wi-Fi роутеры', img: 'img/content/dir806.jpg', id: "connection" },
			{ title: 'TVIP S-Box v.530', pack: 'Можно приобрести в рассрочку: 3 месяца - 1800 <span>₽/мес</span> 6 месяцев - 950 <span>₽/мес</span>', price: '4990 <span>₽</span>', button: 'Заказать', type: 'ТВ-приставки', img: 'img/content/sbox.jpg', id: "connection" },
			{ title: 'D-Link DIR-825', pack: 'Продвинутый уровень', price: '4000 <span>₽</span>', button: 'Заказать', type: 'Wi-Fi роутеры', img: 'img/content/dir825.jpg', id: "connection" },
			{ title: 'DCS-8100LH', price: '9 095 <span>₽</span>', button: 'Заказать', type: 'Видеонаблюдение', img: 'img/content/8100.jpg', id: "connection" },
		],
		detailsRecommended: [
			{ title: 'D-Link DIR-825', 
				pack: 'Продвинутый уровень', 
				price: '4000 <span>₽</span>', 
				button: 'Заказать', 
				type: 'Wi-Fi роутеры', 
				img: 'img/content/dir825.jpg', 
				id: "connection",
				recommended: [
					'Тарифы до 1 Гбит', 'до 1 Гбит',
				],
				range: '2.4/5 ГГц',
				speed: '1.1 Гбит/с',
				count: '15' },
			{ title: 'D-Link DIR-842', pack: 'Продвинутый уровень', price: '4000 <span>₽</span>', button: 'Заказать', type: 'Wi-Fi роутеры', img: 'img/content/dir825.jpg', id: "connection", 
				recommended: [
					'Тарифы до 1 Гбит'
				],
				range: '2.4/5 ГГц',
				speed: '1.1 Гбит/с',
				count: '15' },
			{ title: 'D-Link DIR-2150', pack: 'Продвинутый уровень', price: '6800 <span>₽</span>', button: 'Заказать', type: 'Wi-Fi роутеры', img: 'img/content/dir825.jpg', id: "connection", 
				recommended: [
					'Тарифы до 1 Гбит'
				],
				range: '2.4/5 ГГц',
				speed: '1.1 Гбит/с',
				count: '15' },
			{ title: 'D-Link DIR-87', pack: 'Продвинутый уровень', price: '8500 <span>₽</span>', button: 'Заказать', type: 'Wi-Fi роутеры', img: 'img/content/dir825.jpg', id: "connection", 
				recommended: [
					'Тарифы до 1 Гбит'
				],
				range: '2.4/5 ГГц',
				speed: '1.1 Гбит/с',
				count: '15' },
		],
		detailsAjax: [
			{ title: 'Hub 2 Plus', 
				price: '23 050 <span>₽</span>', 
				button: 'Заказать', 
				type: 'Центры управления', 
				img: 'img/content/ajax1.png', 
				id: "connection",
			},
			{ title: 'Hub 2', 
				price: '13 750 <span>₽</span>', 
				button: 'Заказать', 
				type: 'Центры управления', 
				img: 'img/content/ajax2.png', 
				id: "connection", 
			},
			{ title: 'Hub Plus', 
				price: '17 890 <span>₽</span>', 
				button: 'Заказать', 
				type: 'Центры управления', 
				img: 'img/content/ajax1.png', 
				id: "connection", 
			},
			{ title: 'Hub', 
				price: '9 550 <span>₽</span>', 
				button: 'Заказать', 
				type: 'Центры управления', 
				img: 'img/content/ajax2.png', 
				id: "connection", 
			},
			
		],
		catalog: [
			{ title: 'D-Link DIR-825', 
				pack: 'Начальный уровень', 
				price: '4000 <span>₽</span>', 
				button: 'Заказать', 
				type: 'Wi-Fi роутеры', 
				img: 'img/content/dir825.jpg', 
				id: "connection",
				recommended: [
					'Базовый 70', 'Базовый PRO 100',
				],
				range: '2.4/5 ГГц',
				speed: '867 Мбит/с',
				count: '10' },
			{ title: 'D-Link DIR-842', 
				pack: 'Продвинутый уровень', 
				price: '4000 <span>₽</span>', 
				button: 'Заказать', 
				type: 'Wi-Fi роутеры', 
				img: 'img/content/dir825.jpg', 
				id: "connection", 
				recommended: [
					'Тарифы до 1 Гбит'
				],
				range: '2.4/5 ГГц',
				speed: '1.1 Гбит/с',
				count: '15' },
			{ title: 'D-Link DIR-2150', 
				pack: 'Продвинутый уровень', 
				price: '6800 <span>₽</span>',
				button: 'Заказать', 
				type: 'Wi-Fi роутеры', 
				img: 'img/content/dir825.jpg', 
				id: "connection", 
				recommended: [
					'Тарифы до 1 Гбит'
				],
				range: '2.4/5 ГГц',
				speed: '1.1 Гбит/с',
				count: '15' },
			{ title: 'D-Link DIR-87', 
				pack: 'Продвинутый уровень', 
				price: '8500 <span>₽</span>', 
				button: 'Заказать', 
				type: 'Wi-Fi роутеры', 
				img: 'img/content/dir825.jpg', 
				id: "connection", 
				recommended: [
					'Тарифы до 1 Гбит'
				],
				range: '2.4/5 ГГц',
				speed: '1.1 Гбит/с',
				count: '15' },
		],
		snamiudobnee: [
			{ title: 'Оставьте заявку на подключение', desc: 'С вами свяжется менеджер и поможет подобрать тариф', button: 'Оставить заявку', img: 'img/content/man.png', id: "connection" },
			{ title: 'Оплачивайте по номеру лицевого счета', desc: 'Оплата картами любого банка и без комиссии', button: 'Оплатить', img: 'img/content/woman.png', href: "#" },
		],
		magazineBanner: [
			{ title: 'Wi-Fi роутеры от мировых брендов', desc: 'С расширенной гарантией на два года', button: 'Перейти в каталог', img: 'img/content/routers.png', href: "#" },
			{ title: 'Любимые фильмы, сериалы и шоу в разрешении 4K UHD', desc: 'C ТВ-приставкой TVIP S-Box v.530', button: 'Перейти в каталог', img: 'img/content/tvip_tv.png', href: "#" },
		],
		mainnews: [
			{ title: 'Системы безопасности Ajax', data: '2 февраля 2022 г.' },
			{ title: 'График работы офиса', data: '31 декабря 2022 г.' },
			{ title: 'Технические работы 27.01.2022', data: '26 января 2022 г.' },
			{ title: 'Технические работы 27.12.2021', data: '25 декабря 2021 г.' },
		],
		newsPageTitle: {
			title: 'Новости',
			home: 'Для дома',
			page: 'Новости',
			menu: [ 'Все публикации', 'Новости', 'Технические работы'	],
			select: true,
		},
		detailNewsPageTitle: {
			title: 'Новости',
			home: 'Для дома',
			category: 'Новости',
			page: 'Расширение магистральных каналов',
			select: false,
		},
		detailPageTitle: {
			home: 'Интернет-магазин',
			category: 'Центры управления',
			page: 'HUB 2 Plus',
			select: false,
		},
		detailAjaxTitle: {
			home: 'Интернет-магазин',
			category: 'Оборудование',
			page: 'D-link DIR-806',
			select: false,
		},
		catalogPageTitle: {
		 	title: 'Wi-Fi роутеры',
			home: 'Интернет-магазин',
			page: 'Wi-Fi роутеры',
			select: false,
		},
		faqPageTitle: {
			title: 'Ответы на вопросы',
			home: 'Для дома',
			page: 'Ответы на вопросы',
			menu: [ 'Интернет', 'Общие вопросы', 'Оплата', 'Телевидение' ],
		},
		paymentPageTitle: {
			title: 'Способ оплаты',
			home: 'Для дома',
			page: 'Способы оплаты',
		},
		internetPageTitle: {
			title: 'Интернет',
			home: 'Для дома',
			page: 'Интернет',
			select: false,
		},
		telephonyPageTitle: {
			title: 'Телефония',
			home: 'Для дома',
			page: 'Телефония',
			select: false,
		},
		contactsPageTitle: {
			title: 'Контакты',
			home: 'Для дома',
			page: 'Контакты',
			select: false,
		},
		supportPageTitle: {
			title: 'Поддержка',
			home: 'Для дома',
			page: 'Поддержка',
			select: false,
		},
		ajaxPageTitle: {
			title: 'Системы Ajax',
			home: 'Интернет-магазин',
			page: 'Системы Ajax',
			select: false,
		},
	}

