-
	const data = {
		internet: [
				{ title: 'Премиум', desc: '<span>180</span> каналов', pack: 'В пакет входит подписка на сервисы Netflx, Megogo и Wink', price: '950 ₽/мес', button: 'Подключить', type:'tv', id: "connection" },
				{ title: 'Базовый PRO 100', desc: '<span>до 100</span> Мбит/с',	price: '520 ₽/мес', button: 'Подключить', hit: true, type: 'internet', id: "connection" },
				{ title: 'Безлимитный', desc: '<span>300</span> минут',	price: '650 ₽/мес', button: 'Подключить', type: 'phone', pack: `Стоимость превышения: <span>0 ₽ / мин.</span>`, id: "connection" },
				{ title: 'Просто видео', desc: '<span>2</span> видеокамеры и <span>1</span>&nbsp;видеорегистратор',	price: '19 000 ₽', button: 'Подключить', type: 'video', pack: `Камера EZ-IPC-B3B20P-0280B Видеорегистратор EZ-NVR1B04`, id: "connection" }
		],
		mainslider: [
				{ title: 'Домашний интернет на высокой скорости', desc: 'Скорость до 500 Мбит/с', button: 'Подробнее', href: '#', img: 'img/content/home_internet.png' },
				{ title: 'Управляйте услугами с помощью мобильного телефона', desc: 'Установите приложение «ГранЛайн личный кабинет»', button: 'Подробнее', href: '#', img: 'img/content/phone_app 2.png' },
				{ title: 'Домашний интернет на высокой скорости', desc: 'Скорость до 500 Мбит/с', button: 'Подробнее', href: '#', img: 'img/content/home_internet.png' },
				{ title: 'Управляйте услугами с помощью мобильного телефона', desc: 'Установите приложение «ГранЛайн личный кабинет»', button: 'Подробнее', href: '#', img: 'img/content/phone_app 2.png' },
		],
		mainbanner: {
			titul: '«Гранлайн» всегда под рукой', 
			desc: 'Управляйте услугами на экране смартфона через мобильное приложение «ГранЛайн личный кабинет» и получайте выгодные предложения!',
			app: true,
			img: 'img/content/app-banner.png',
		},
		equipmentSlider: [
			{ title: 'D-Link DIR-806', pack: 'Начальный уровень', price: '2850 ₽', button: 'Заказать', type: 'Wi-Fi роутеры', img: 'img/content/dir806.jpg', id: "connection" },
			{ title: 'TVIP S-Box v.530', pack: 'Можно приобрести в рассрочку: 3 месяца - 1800 ₽/мес 6 месяцев - 950 ₽/мес', price: '4990 ₽', button: 'Заказать', type: 'ТВ-приставки', img: 'img/content/sbox.jpg', id: "connection" },
			{ title: 'D-Link DIR-825', pack: 'Продвинутый уровень', price: '4000 ₽', button: 'Заказать', type: 'Wi-Fi роутеры', img: 'img/content/dir825.jpg', id: "connection" },
			{ title: 'DCS-8100LH', price: '9 095 ₽', button: 'Заказать', type: 'Видеонаблюдение', img: 'img/content/8100.jpg', id: "connection" },
		],
		snamiudobnee: [
			{ title: 'Оставьте заявку на подключение', desc: 'С вами свяжется менеджер и поможет подобрать тариф', button: 'Оставить заявку', img: 'img/content/man.png', id: "connection" },
			{ title: 'Оплачивайте по номеру лицевого счета', desc: 'Оплата картами любого банка и без комиссии', button: 'Оплатить', img: 'img/content/woman.png', href: "#" },
		],
		mainnews: [
			{ title: 'Системы безопасности Ajax', data: '2 февраля 2022 г.' },
			{ title: 'График работы офиса', data: '31 декабря 2022 г.' },
			{ title: 'Технические работы 27.01.2022', data: '26 января 2022 г.' },
			{ title: 'Технические работы 27.12.2021', data: '25 декабря 2021 г.' },
		]
	}

