include ../pug/data.pug

//- components
include ../blocks/components/logo/logo.pug

include ../blocks/components/btn/btn.pug
include ../blocks/project/page-header/page-header.pug
include ../blocks/project/page-footer/page-footer.pug
include ../blocks/project/page-internet/page-internet.pug
include ../blocks/project/page-telephony/page-telephony.pug
include ../blocks/project/page-magazine/page-magazine.pug
include ../blocks/project/page-support/page-support.pug
include ../blocks/project/page-business/page-business.pug
include ../blocks/project/popular-tarif/popular-tarif.pug
include ../blocks/project/page-faq/page-faq.pug
include ../blocks/project/page-payment/page-payment.pug
include ../blocks/components/card/card.pug
include ../blocks/components/btn/btn.pug
include ../blocks/components/banner-slider/banner-slider.pug
include ../blocks/components/banner/banner.pug
include ../blocks/components/two-banner/two-banner.pug
include ../blocks/project/news/news.pug
include ../blocks/project/page-error/page-error.pug
include ../blocks/project/page-contacts/page-contacts.pug
include ../blocks/project/page-detailnews/page-detailnews.pug
include ../blocks/project/page-detail/page-detail.pug
include ../blocks/components/news/news.pug
include ../blocks/components/select/select.pug
include ../blocks/components/header__title/header__title.pug



include ../blocks/module/modal/modal.pug

//- include ../blocks/components/language/language.pug
//- include ../blocks/components/burger/burger.pug
//- include ../blocks/components/title/title.pug
//- include ../blocks/components/quote/quote.pug
//- include ../blocks/components/subtitle/subtitle.pug
//- include ../blocks/components/response/response.pug
//- include ../blocks/components/agreement/agreement.pug
//- include ../blocks/components/office/office.pug
//- include ../blocks/components/price/price.pug
//- include ../blocks/components/thanks/thanks.pug

//- include ../blocks/components/send-message/send-message.pug
//- include ../blocks/components/chat-girl/chat-girl.pug
//- 
//- //- include ../blocks/components/status/status.pug
//- //- include ../blocks/components/logo/logo.pug
//- //- include ../blocks/components/menu/menu.pug
//- //- include ../blocks/components/avatar/avatar.pug
//- include ../blocks/project/main/main.pug





