mixin page-faq()
	section.faq 
		.container 
			+header-title(data.faqPageTitle, 'faq')
	.faq__content
		.container
			ul.faq__lists.faq__lists-js
				li.faq__item 
					.faq__question  Как изменить тарифный план
						.faq__item-btn
					.faq__answer
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. In sunt sit facere omnis! Consequatur animi neque laborum, fuga, minus at corrupti similique labore harum veritatis debitis quam officiis maiores repellendus!
				li.faq__item
					.faq__question  Как приостановить оказание услуги интернет
						.faq__item-btn
					.faq__answer
						p Для того, чтобы приостановить оказание услуги интернет, например на время отпуска, необходимо зайти в свой личный кабинет и выбрать лицевой счет услуги интернет
						img(src='/img/content/screen1.png' alt='Скриншот')
						p Далее перейдите по ссылке “Приостановить оказание услуг”
						img(src='/img/content/screen2.png' alt='Скриншот')
						p После выбора услуги, её необходимо подтвердить, для этого нажмите на кнопку “Приостановить услуги”
						img(src='/img/content/screen3.png' alt='Скриншот')
						p Что происходит в этот момент:
						ul
							li Происходит досрочное закрытие расчетного периода
							li Биллинг производит перерасчет указанных услуг по количеству дней, прошедших с начала расчетного периода, оставшуюся сумму возвращает на лицевой счет.
							li Отключает интернет.

				li.faq__item
					.faq__question  Медленная скорость доступа в интернет
						.faq__item-btn
					.faq__answer
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. In sunt sit facere omnis! Consequatur animi neque laborum, fuga, minus at corrupti similique labore harum veritatis debitis quam officiis maiores repellendus!
				li.faq__item
					.faq__question  Не работает интернет
						.faq__item-btn
					.faq__answer
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. In sunt sit facere omnis! Consequatur animi neque laborum, fuga, minus at corrupti similique labore harum veritatis debitis quam officiis maiores repellendus!
				li.faq__item
					.faq__question  Как подключить стационарный компьютер или ноутбук по проводу?
						.faq__item-btn
					.faq__answer
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. In sunt sit facere omnis! Consequatur animi neque laborum, fuga, minus at corrupti similique labore harum veritatis debitis quam officiis maiores repellendus!
				li.faq__item
					.faq__question  Как настроить роутер
						.faq__item-btn
					.faq__answer
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. In sunt sit facere omnis! Consequatur animi neque laborum, fuga, minus at corrupti similique labore harum veritatis debitis quam officiis maiores repellendus!
					