.select {
  display: block;
  font-weight: 500;
  font-size: 16px;
  color: #0063fa;
  width: fit-content;
  box-sizing: border-box;
  margin: 0;
  border-radius: 5%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: #f4f6fb;
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='7' viewBox='0 0 8 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.50708 6.00237L0.0117188 0.00210571H7.00257L3.50708 6.00237Z' fill='%23747983'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.50708 6.00237L0.0117188 0.00210571H7.00257L3.50708 6.00237Z' fill='%23203240'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
  padding: 0 38px 0 21px;
  min-height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.select__container {
  width: fit-content;
}
.select::-ms-expand {
  display: none;
}
.select:hover {
  border-color: #888;
}
.select:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}
.select option {
  font-weight: normal;
}
*[dir="rtl"] .select,
:root:lang(ar) .select,
:root:lang(iw) .select {
  background-position: left 0.7em top 50%, 0 0;
  padding: 0.6em 0.8em 0.5em 1.4em;
}
