mixin main()
    .main
        .container
            .main__content 
                .logo 
                .title The World’s <span>Leading AI Dating Assistant</span>
                +btn('unlock my matches', 'unlock').btn_purple.btn-js.hvr-ripple-out
            .loading
                .loading__overlay
                    svg(class=`loading__overlay-img`)
                        use(xlink:href="img/symbols.svg#loading")
                    .loading__text Loading ...
    .gallery
        .girl__img-container
            img(src='/img/content/spin.gif', alt= alt).girl.girl-js
        .girl__content 
            .girl__title.girl__title-js
            .girl__desc
                .girl__online Online
                .girl__distance <span class="girl__distance-js"></span> millies away
            .girl__buttons-container 
                +btn('Slap', 'slap').btn_gray
                +btn('Kiss', 'kiss').btn_purple
    .footer.footer-js
        .container
            ul 
                li
                    a(href="#") hot asian flirts
                li
                    a(href="#") privacy policy
                li
                    a(href="#") terms and conditions
                li
                    a(href="#") cancel subscription
    template(id='select-girl')
        li.modal__select-girl-js
            img(src='' alt='').modal__select-avatar.select-girl-img-js
            .modal__select-info 
                .modal__select-name.modal__select-name-js Wendy, 25
                .modal__select-online Online
            .modal__select-icon.modal__select-icon-js 
                div(data-btn='video').modal__icon.modal__icon-js
                    svg(class='modal__icon-icon-img')
                        use(xlink:href="img/symbols.svg#videocall")
                div(data-btn='chat').modal__icon.modal__icon-js
                    svg(class=`modal__icon-icon-img`)
                        use(xlink:href="img/symbols.svg#chat")
                