.detail {
  padding-top: 45px;
  padding-bottom: 71px;
}

.detail__content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @media (min-width: $screen-lg) {
    flex-direction: row;
  }
}
.detail__image {
  // max-width: 635px;

  width: 100%;
  margin-bottom: 40px;
  @media (min-width: $screen-lg) {
    width: 60%;
    margin-right: 20px;
    margin-bottom: 0;
  }
}

.detail__big-slider {
  overflow: hidden;
}

.detail__sm-img {
  width: 80px;
  height: auto;
  object-fit: contain;
  border-radius: var(--radius);
  border: 2px solid var(--background-white);
  @media (min-width: $screen-md) {
    height: 80px;  
  }
}
.detail__small-slider {
  margin: 0 auto;
  margin-top: 29px;
  overflow: hidden;
  max-width: 424px;
  width: 100%;
}


.detail__sm-img.swiper-slide-thumb-active {
  border: 2px solid #0063FA;
}

.detail__card {
  background: #FFFFFF;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  width: 100%;
  padding: 20px;
  height: fit-content;
  @media (min-width: 480px) {
    padding: 46px;  
  }
  @media (min-width: $screen-lg) {
    max-width: 621px;  
  }
}
.detail__card-desc {
  font-weight: 400;
  font-size: 14px;
  color: #8C94A8;
  margin-bottom: 10px;
}
.detail__card-title {
  margin: 0;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  color: #061A29;
  margin-bottom: 8px;
}
.detail__card-level {
  width: 100%;
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--text);
  padding: 9px;
  background: #F4F6FB;
  margin-bottom: 17px;
}

.detail__card-recommended-list {
  @include ul-none();
  display: flex;
  margin-bottom: 15px;
  flex-wrap: wrap;
}
.detail__card-recommended-item {
  margin-right: 5px;
  &:last-child {
    margin-right: 0;
  }
}

.detail__card-recommended-link {
  padding: 0 6px;
  background: #09D95A;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--text-white);
  min-height: 20px;
  display: flex;
  border: 2px solid ;
  align-items: center;
  border-radius: var(--radius);
}

.detail__card-characteristics-list {
  @include ul-none();
  display: flex;
  flex-direction: column;
  margin-bottom: 21px;
}
.detail__card-characteristics-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.detail__card-characteristics-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #747983;
  margin: 0;
  white-space: nowrap;
}

.detail__card-characteristics-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #061A29;
  margin: 0;
  width: fit-content;
  white-space: nowrap;
}
.detail__card-characteristics-border {
  height: inherit;
  width: 100%;
  border-bottom: 1px dotted #E4E9F2;
}

.detail__card-bonus {
  padding: 14px 43px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  background: #F4F6FB;
  border-radius: var(--radius);
  position: relative;
  margin-bottom: 26px;
  &::before {
    content: '';
    position: absolute;
    width: 21px;
    height: 24px;
    left: 14px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='24' viewBox='0 0 21 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_324_519)'%3E%3Cpath d='M19.3 5.29999H13.8C14.4 5.09999 14.9 4.89999 15.4 4.49999C15.9 3.99999 16.2 3.39999 16.2 2.69999C16.2 1.99999 16 1.29999 15.5 0.799991C15 0.299991 14.3 -8.73208e-06 13.7 -8.73208e-06C13 -8.73208e-06 12.3 0.199991 11.8 0.699991C11.1 1.69999 10.6 2.79999 10.3 4.09999C10 2.79999 9.4 1.69999 8.7 0.699991C8 0.0999913 7.1 -0.200009 6.2 0.0999913C5.3 0.399991 4.6 1.09999 4.4 1.99999C4.2 2.89999 4.5 3.89999 5.2 4.49999C5.7 4.89999 6.2 5.09999 6.8 5.29999H1.3C1 5.29999 0.6 5.39999 0.4 5.69999C0.1 5.89999 0 6.19999 0 6.59999V8.39999C0 8.69999 0.1 9.09999 0.4 9.29999C0.6 9.59999 1 9.69999 1.3 9.69999V22.7C1.3 23 1.4 23.4 1.7 23.6C1.9 23.9 2.3 24 2.6 24H18.7C19 24 19.4 23.9 19.6 23.6C19.8 23.4 20 23 20 22.7V9.49999C20.4 9.29999 20.6 8.89999 20.6 8.39999V6.59999C20.6 6.29999 20.5 5.89999 20.2 5.69999C20 5.39999 19.7 5.29999 19.3 5.29999ZM12.3 6.19999V8.79999H7.9V6.19999H12.3ZM19.7 6.59999V8.39999C19.7 8.59999 19.5 8.79999 19.3 8.79999H13.2V6.19999H19.3C19.5 6.19999 19.7 6.39999 19.7 6.59999ZM12.4 1.39999C12.7 1.09999 13.1 0.899991 13.6 0.899991C13.6 0.899991 13.6 0.899991 13.7 0.899991C14.2 0.899991 14.6 1.09999 14.9 1.39999C15.2 1.69999 15.4 2.19999 15.4 2.59999C15.4 3.09999 15.2 3.49999 14.9 3.79999C14.4 4.29999 12.5 4.79999 11 5.09999C11.3 3.69999 11.9 1.79999 12.4 1.39999ZM5.2 2.69999C5.2 2.19999 5.4 1.79999 5.7 1.49999C6 1.09999 6.4 0.899991 6.9 0.899991C7.4 0.899991 7.8 0.999991 8.1 1.39999C8.6 1.89999 9.2 3.69999 9.6 5.19999C8.2 4.79999 6.2 4.29999 5.8 3.89999C5.4 3.59999 5.2 3.09999 5.2 2.69999ZM0.9 8.39999V6.59999C0.9 6.39999 1.1 6.19999 1.3 6.19999H7V8.79999H1.3C1.1 8.79999 0.9 8.59999 0.9 8.39999ZM2.2 22.7V9.69999H8V23.1H2.6C2.4 23.1 2.2 22.9 2.2 22.7ZM8.9 23.1V9.69999H11.6V23.1H8.9ZM19.1 22.7C19.1 22.9 18.9 23.1 18.7 23.1H12.4V9.69999H19.1V22.7Z' fill='%230063FA'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_324_519'%3E%3Crect width='20.6' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  }
}

.detail__card-bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @media (min-width: $screen-sm) {
    flex-wrap: nowrap;
  }
  
}

.detail__card-price {
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  color: var(--text);
  white-space: nowrap;
  margin-right: 20px;
  span {
    font-size: 22px;
  }
}
.detail__card-btn { 
  width: 100%;
  min-height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  color: var(--text-white);
  border: none;
  background: #0063FA;
  border-radius: var(--radius);
  cursor: pointer;
  transition: var(--time);
  @media (min-width: $screen-sm) {
    max-width: 235px;  
  }
  &:hover {
    background-color: var(--bg-hover-card);
    color: var(--text-blue);
  }
}

.detail__info-container  {
  background: var(--background-gray);
  padding-top: 25px;
  padding-bottom: 52px;
}

.detail__info-list {
  display: flex;
  @include ul-none();
  width: fit-content;
  margin-bottom: 28px;
}
.detail__info-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 44px;
  padding: 0 24px;
  color: var(--text);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius);
  cursor: pointer;
}

.detail__info-item_active {
  color: var(--text-blue);
  background: #FFFFFF;
}

.detail__info-title {
  font-weight: 500;
  font-size: 22px;
  line-height: 24px;
  color: #061A29;
  margin-bottom: 25px;
}

.detail__info-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #747983;
  margin-bottom: 25px;
  &:last-child {
    margin-bottom: 0;
  }
}

.detail__info-content {
  display: flex;
  flex-direction: column;
  @media (min-width: $screen-lg) {
    flex-direction: row;
  }
}

.detail__info-content-company {
  max-width: 305px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  max-height: 94px;
  padding: 34px;
  margin-bottom: 21px;
  border-radius: var(--radius);
}

.detail__info-content-company-container {
  display: flex;
  flex-direction: column;
  max-width: 307px;
  width: 100%;
}
.detail__info-content-company-img {
  width: 50%;
}

.detail__info-content-company-art {
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 36px;
  font-weight: 400;
  font-size: 14px;
  line-height: 44px;
  color: #8C94A8;
  border-radius: var(--radius);
}
.detail__info-content-text-more {
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 44px;
  color: #0063FA;
  width: fit-content;
  padding-right: 15px;
  position: relative;
  transition: var(--time);
  cursor: pointer;
  &:hover {
    opacity: var(--opacity);
  }
  &::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 7px;
    height: 6px;
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='7' viewBox='0 0 8 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.50708 6.00282L0.0117188 0.00256348H7.00257L3.50708 6.00282Z' fill='%23747983'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.50708 6.00282L0.0117188 0.00256348H7.00257L3.50708 6.00282Z' fill='%230968FA'/%3E%3C/svg%3E%0A");
    transition: var(--time);
  }
}
.detail__info-content-text-container {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}
.detail__info-content-text {
  max-height: 259px;
  overflow: hidden;
}

.detail__info-content-text_open .detail__info-content-text {
  max-height: 1000px;
}
.detail__info-content-text_open .detail__info-content-text-more {
  &::after {
    transform: translateY(-50%) rotate(180deg);
  }
}
.detail__recommended-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  color: var(--text);
  margin-bottom: 31px;
}
.detail__recommended-list {
  display: grid;
  grid-gap: 32px;
  margin: 0 -20px;
  grid-template-columns:repeat( 1, 1fr);
  .card {
    max-width: 100%;
  }
  @media (min-width: $screen-md) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 1400px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
.detail__recommended  {
  padding-top: 49px;
  padding-bottom: 81px;
}