mixin page-header()
	header.header
		
		.header__top
			.container.header__container
				+logo.header__logo
				nav.header__navigation
					ul
						li
							a(href="#").hvr-underline-from-center Для дома
						li 
							a(href="#").hvr-underline-from-center Для бизнеса
						li 
							a(href="#").hvr-underline-from-center Интернет-магазин
						li.dropdown 
							a(href="#").dropdown__icon.dropdown__icon-js Еще
							.dropdown__menu-container
								ul.dropdown__menu
									li 
										a(href="#") Новости
									li 
										a(href="#") Контакты
				a(href="tel:+74954016161").header__phone 
					p +7 (495) 401-61-61
				.burger.burger-js
					span
				.burger__menu.burger__menu-js
					nav.header__navigation.header__navigation_mobil.header__navigation_mobil-js
						ul.swiper-wrapper
							li.swiper-slide
								a(href="#").hvr-underline-from-center Для дома
							li.swiper-slide
								a(href="#").hvr-underline-from-center Для бизнеса
							li.swiper-slide
								a(href="#").hvr-underline-from-center Интернет-магазин
							li.dropdown.swiper-slide 
								a(href="#").dropdown__icon.dropdown__icon-js Еще
								.dropdown__menu-container
									ul.dropdown__menu
										li 
											a(href="#") Новости
										li 
											a(href="#") Контакты
					nav.header__bottom-navigation.header__bottom-navigatiom_mobil
						ul
							li.lk
								a(href="#").lk__link Личный кабинет		
							li 
								a(href="#") Интернет
							li 
								a(href="#") Телевидение
							li 
								a(href="#") Смотрёшка ТВ
							li.dropdown 
								a(href="#").dropdown__icon.dropdown__icon-js Дополнительные услуги
								.dropdown__menu-container
									ul(style="padding-top: 0;").dropdown__menu
										li 
											a(href="#") Видеонаблюдение
										li 
											a(href="#") Охранная сигнализация
										li 
											a(href="#") Построение сети Wi-FIi и ЛВС
										li 
											a(href="#") Монтаж СКС
					.header__buttons.header__buttons_mobil
						a(href="#") Оплата
						a(href="#") Поддержка
				.header__buttons 
					a(href="#") Оплата
					a(href="#") Поддержка
		.header__bottom
			.container
				nav.header__bottom-navigation
					ul
						li 
							a(href="#") Интернет
						li 
							a(href="#") Телевидение
						li 
							a(href="#") Смотрёшка ТВ
						li.dropdown  
							a(href="#").dropdown__icon.dropdown__icon-js Дополнительные услуги
							.dropdown__menu-container
								ul(style="padding-top: 0;").dropdown__menu
									li 
										a(href="#") Видеонаблюдение
									li 
										a(href="#") Охранная сигнализация
									li 
										a(href="#") Построение сети Wi-FIi и ЛВС
									li 
										a(href="#") Монтаж СКС
						li.lk
							a(href="#").lk__link Личный кабинет

