mixin page-payment()
    section.payment
        .container
            +header-title(data.paymentPageTitle)
            ul.payment__methonds 
                li.payment__card 
                    .payment__card-content
                        .payment__title Оплата по номеру лицевого счета
                        .payment__desc С карты любого банка, без комиссии. Для оплаты необходим номер лицевого счета, указанный в договоре.
                        a(href="#" target="_blank").payment__button Оплатить
                    .payment__card-img 
                        img(src='/img/content/lic.png')
                li.payment__card 
                    .payment__card-content
                        .payment__title Личный счет
                        .payment__desc Оплата через личный кабинет абонента.Для оплаты необходим логин и пароль, указанный в договоре.
                        a(href="#" target="_blank").payment__button Личный кабинет
                    .payment__card-img 
                        img(src='/img/content/lk-phone.png')
                li.payment__card.payment__card_greeb-bg1
                    .payment__card-content
                        .payment__title Сбербанк.Онлайн
                        .payment__desc При помощи приложения Сбербанк.Онлайн. Для оплаты необходим номер лицевого счета, указанный в договоре.
                        .payment__buttons
                            a(href="#" target="_blank").payment__button.payment__button_android Для ANDROID
                            a(href="#" target="_blank").payment__button.payment__button_ios Для IOS
                    .payment__card-img 
                        img(src='/img/content/mobil.png')
                li.payment__card.payment__card_greeb-bg2
                    .payment__card-content
                        .payment__title Автоплатеж Сбербанк.Онлайн
                        .payment__desc Автоплатеж в приложении Сбербанк.Онлайн. Для подключения необходим номер лицевого счета, указанный в договоре.
                        .payment__buttons
                            a(href="#" target="_blank").payment__button.payment__button_android Для ANDROID
                            a(href="#" target="_blank").payment__button.payment__button_ios Для IOS
                    .payment__card-img 
                        img(src='/img/content/sber.png')
                li.payment__card.payment__card_greeb-bg3
                    .payment__card-content
                        .payment__title В отделении банка
                        .payment__desc В отделении банка по квитанции. Для оплаты необходим номер лицевого счета, указанный в договоре.
                        a(href="#" target="_blank").payment__button Скачать квитанцию на оплату
                    .payment__card-img 
                        img(src='/img/content/bank.png')

            +banner(data.faqBanner).payment__banner


