.payment {
    padding-top: 45px;
    padding-bottom: 106px;
}

// .payment__banner {
//     .container {
//         padding: 0;
//     }
    
// }

.payment__methonds  {
    @include ul-none();
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 32px;
    @media (min-width: $screen-xl) {
        grid-template-columns: 1fr 1fr;
    }
}

.payment__card {
    position: relative;
    padding: 39px 24px 39px 24px;
    background: var(--background-white);
    box-shadow: var(--shadow);
    border-radius: var(--radius);
    display: flex;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    padding-bottom: 200px;
    @media (min-width: $screen-sm) {
        flex-direction: row;
        padding-bottom: 39px;
    }
    @media (min-width: $screen-md) {
        padding: 39px 0 39px 24px;
    }
    &:hover {
        box-shadow: var(--hovershadow);
    }
}

.payment__title {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: var(--text);
    margin-bottom: 34px;
    @media (min-width: $screen-sm) {
        width: 70%;    
    }
}

.payment__desc {
    font-weight: 400;
    line-height: 24px;
    color: var(--text);
    margin-bottom: 34px;
    @media (min-width: $screen-sm) {
        width: 70%;    
    }
}
.payment__button {
    position: relative;
    background: var(--background-blue);
    font-weight: 500;
    color: var(--text-white);
    min-height: 48px;
    width: 100%;
    border-radius: var(--radius);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: $time;
    &::before {
        content: '';
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        position: absolute;
        left: 13px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 12px;
    }
    &:hover {
        background-color: var(--bg-hover-card);
        color: var(--text-blue);
    }
}

.payment__card-img {
    display: flex;
    justify-content: center;
    display: unset;
    right: 0;
    bottom: 20px;
    position: absolute;
    max-width: 150px;
    @media (min-width: $screen-sm) {
        position: absolute;   
        right: 0;
        top: -66px; 
    
    }
    @media (min-width: $screen-md) {
        position: unset;
        height: 100%;
        min-width: 230px;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
.payment__card_greeb-bg1 {
    background-image: url('/img/content/bg-green1.png');
}

.payment__card_greeb-bg2 {
    background-image: url('/img/content/bg-green2.png');
}

.payment__card_greeb-bg3 {
    background-image: url('/img/content/bg-green3.png');
}
.payment__buttons {
    display: flex;
    flex-direction: column;
    @media (min-width: $screen-sm) {
        flex-direction: row;
    }
}
.payment__button_android {
    
    padding-left: 54px;
    justify-content: flex-start;
    margin-bottom: 11px;
    @media (min-width: $screen-sm) {
        margin-right: 11px;
        margin-bottom: 0;
    }
    &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='12' viewBox='0 0 20 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_666_168)'%3E%3Cpath d='M14.6 7.39998C14.1 7.39998 13.8 6.99998 13.8 6.59998C13.8 6.09998 14.2 5.79998 14.6 5.79998C15 5.79998 15.4 6.19998 15.4 6.59998C15.4 6.99998 15.1 7.39998 14.6 7.39998ZM5.4 7.39998C4.9 7.39998 4.6 6.99998 4.6 6.59998C4.6 6.09998 5 5.79998 5.4 5.79998C5.8 5.79998 6.2 6.19998 6.2 6.59998C6.2 6.99998 5.9 7.39998 5.4 7.39998ZM14.9 2.39999L16.6 -0.500015C16.7 -0.700015 16.6 -0.900015 16.5 -1.00002C16.4 -1.10002 16.1 -1.00002 16 -0.800015L14.3 2.09998C13 1.49998 11.5 1.19999 10 1.19999C8.5 1.19999 7 1.49998 5.7 2.09998L4 -0.800015C3.9 -1.00002 3.7 -1.00002 3.6 -1.00002C3.4 -0.900015 3.3 -0.600015 3.4 -0.500015L5.1 2.39999C2.2 3.99999 0.3 6.89998 0 10.3H20C19.7 6.89998 17.8 3.99999 14.9 2.39999Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_666_168'%3E%3Crect width='20' height='11.3' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    }
}

.payment__button_ios {
    justify-content: flex-start;
    padding-left: 54px;
    &::before {
        width: 17px;
        height: 20px;
        background-image: url("data:image/svg+xml,%3Csvg width='17' height='20' viewBox='0 0 17 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_666_152)'%3E%3Cpath d='M15.8 6.8C15.7 6.9 13.6 8 13.6 10.6C13.6 13.6 16.2 14.6 16.3 14.6C16.3 14.7 15.9 16 14.9 17.4C14 18.6 13.1 19.9 11.8 19.9C10.5 19.9 10.1 19.1 8.5 19.1C7 19.2 6.4 20 5.2 20C4 20 3.1 18.9 2.1 17.5C0.9 15.8 0 13.3 0 10.8C0 6.9 2.5 4.8 5 4.8C6.3 4.8 7.4 5.7 8.3 5.7C9.1 5.7 10.3 4.8 11.8 4.8C12.4 4.8 14.4 4.9 15.8 6.8ZM11.1 3.2C11.7 2.5 12.2 1.4 12.2 0.4C12.2 0.3 12.2 0.1 12.2 0C11.2 0 10 0.7 9.3 1.5C8.6 2.2 8.1 3.2 8.1 4.2C8.1 4.4 8.1 4.5 8.1 4.6C8.2 4.6 8.3 4.6 8.4 4.6C9.3 4.6 10.4 4 11.1 3.2Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_666_152'%3E%3Crect width='16.3' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    }
}

.payment__card-content {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    @media (min-width: $screen-md) {
        width: 70%;
    }
}