mixin page-internet()
	section.internet 
		.container 
			+header-title(data.internetPageTitle)
		.container.popular-tarif__container.overlay-js
			div(class=`popular-tarif__content internet__content-js`)
				.popular-tarif__wrapper.swiper-wrapper
					each card in data.internet
						+card(card, 'tarif').swiper-slide
			div(class=`popular-tarif__button-arrow popular-tarif__button-left internet__button-left-js`)
			div(class=`popular-tarif__button-arrow popular-tarif__button-right internet__button-right-js`)
	section.internet__info 
		.container 
			.internet__info-content 
				p Пожалуйста, ознакомьтесь:
				ul 
					li Тариф “социальный”  стоимость 100 руб./мес. до 2 м/бит. Предоставляется: многодетным семьям, ветеранам войн (не только ВОВ), инвалидам 1 группы инвалидности – при предъявлении удостоверения во время личного визита в офис.
					li Предлог «До» означает, что скорость доступа к сети Интернет зависит не только от технических особенностей услуги, предоставляемой ООО «ГранЛайн», но и от действий третьих операторов связи, организаций и лиц, управляющих сегментами сети Интернет, не принадлежащих ООО «ГранЛайн». Скорость доступа к сети Интернет является величиной неопределенной и зависит от ряда параметров, в том числе, технических характеристик подключения данных точек, маршрута и текущей загрузки каналов. Все параметры являются переменными и не гарантируются ООО «ГранЛайн» за пределами своей сети.
				img(src='img/content/info_icon.png')
	.internet__banner
		+banner(data.internetBanner, true).banner_mt6.banner__mb8